<h2>Alumnos en la empresa</h2>
<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active " data-toggle="tab" href="#listaAlumos">Listado de Alumno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#buscaAlumno">Busca Alumno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#validaTareas">Valida Tarea</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="listaAlumos" class="container tab-pane active"><br>
        <!-- Listado de alumnos cuyo responsable en la empresa es el usuario registrado -->
        <app-listar-todos></app-listar-todos>
    </div>
    <div id="buscaAlumno" class="container tab-pane fade"><br>
        <!-- Buscar un  alumno cuyo responsable en la empresa es el usuario registrado -->
        <app-buscar-alumno></app-buscar-alumno>
    </div>
    <div id="validaTareas" class="container tab-pane fade"><br>
        <!-- Validar tareas de un alumno cuyo responsable en la empresa es el usuario registrado -->
        <app-validar></app-validar>
    </div>
</div>