<h2>Chat con tutor empresa</h2>
<br>

<mat-tab-group>
    <mat-tab label="Chat con Responsable">

        <div class="row mt-4 w-100">
            
            <div class="offset-md-3 col-6 w-100" >
                <!-- El select solo contrendrá responsbales sean tutores de los alumnos del profesor registrado -->
                <mat-form-field  class="w-100" appearance="fill">
                    <mat-label>Selecciona Responsable</mat-label>
                    <mat-select [(ngModel)]="receptor" (closed)="cargarMensajes()">
                      <mat-option *ngFor="let responsable of responsables,let id = index" [value]="responsable.dniResponsable">
                       {{responsable.nombreResponsable}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        
        <div class="card text-center cardContainer" *ngIf="mostrarChat">
            <div class="card-header">
                Chat
                <div class="closeIcon" (click)="mostrarChat=false">X</div>
            </div>
            <div class="card-body">
                <div class="contenedorDeMensajes h-100">
                    <p *ngFor="let mensaje of auxmensajes" class=" p-2" [ngClass]="(receptor==mensaje.receptor) ? 'enviado' :'recibido'">
                        {{mensaje.mensaje}}
                    </p>
                </div>
            </div>
            <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">

                <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true} ">
                <div class="input-group-append" (click)="enviarMensaje()">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="faEnviar fa fa-paper-plane " aria-hidden="true"></i>
                    </span>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="tab-content">
    <div id="chat" class="container tab-pane active"><br>
        
    </div>
</div>
