<h2>Chat con tutor empresa</h2>
<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active " data-toggle="tab" href="#chat">Chat con Responsable</a>
    </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="chat" class="container tab-pane active"><br>
        <div class="row h-100">
            <div class="col-3"></div>
            <div class="col-6" style="height:100vh">
                <!-- El select solo contrendrá responsbales sean tutores de los alumnos del profesor registrado -->
                <select name="tutorescolar" class="form-control" id="">
                    <option value="1">Responsable 1</option>
                    <option value="2">Responsable 2</option>
                    <option value="3">Responsable 3</option>
                </select>
                <div class="row h-50" style="background-color: darkseagreen;">
                </div>
                <div class="row w-100">
                    <div class="col-9">
                        <input class=" w-100 form-control" value="Hola">
                    </div>
                    <div class="col-3 ">
                        <button class="btn bg-outline-color">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>