<header class="top-header">
</header>

<!--dust particel-->
<div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
    <div class="lamp">
        <div class="cable"></div>
        <div class="cover"></div>
        <div class="in-cover">
            <div class="bulb"></div>
        </div>
        <div class="light"></div>
    </div>
</div>
<!-- END Lamp -->
<section class="error">
    <!-- Content -->
    <div class="error__content">
        <div class="error__message message">
            <h1 class="message__title">Page N <img class="message__image" src="../../../assets/img/icono.ico" alt=""> t Found</h1>
            <p class="message__text">Lo sentimos, la pagina que está buscando no se encuentra disponible. El link puede que no exista o este mal escrito. Intentalo de nuevo o vuelve inicio.
            </p>
        </div>
        <div class="error__nav e-nav">
            <a href="" class="e-nav__link">
                <mat-icon>home</mat-icon>
            </a>
        </div>
    </div>
    <!-- END Content -->

</section>