<div class="row mt-3 w-100">
        <div class="row w-100 ">
          <div class="col-12 derecha">
            <mat-icon 
            matTooltip="Espera el resultado de inserccion !Se mostrará un modal en la mitad de la pantalla¡" >
            info
        </mat-icon> 
          </div>
        </div>
    <div class="col-3"></div>

    <form [formGroup]="formcsv" (ngSubmit)="insertarDatos($event)" class="w-75  col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Insertar Campos desde CSV</h3>
        </div>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="centros" (change)="filechangedCentros($event)" accept=".csv"
                placeholder="Ficheros de Centros">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['centros'].hasError('filevalidator')">
                Admite ficheros centros.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="empresas" (change)="filechangedEmpresas($event)" accept=".csv"
                placeholder="Ficheros de Empresas">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['empresas'].hasError('filevalidator')">
                Admite ficheros empresas.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="cursos" (change)="filechangedCursos($event)" accept=".csv"
                placeholder="Ficheros de Cursos">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['cursos'].hasError('filevalidator')">
                Admite ficheros cursos.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="tutores" (change)="filechangedTutores($event)" accept=".csv"
                placeholder="Ficheros de Tutores">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['tutores'].hasError('filevalidatorT')">
                Admite ficheros tutores.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="resp" (change)="filechangedResponsables($event)" accept=".csv"
                placeholder="Ficheros de Responsables">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['resp'].hasError('filevalidator')">
                Admite ficheros responsables.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <ngx-mat-file-input formControlName="alumnos" (change)="filechangedAlumnos($event)" accept=".csv"
                placeholder="Ficheros de Alumnos">
            </ngx-mat-file-input>
            <mat-error *ngIf="formcsv.controls['alumnos'].hasError('filevalidator')">
                Admite ficheros alumnos.csv
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <button type="submit" class=" w-100 mt-2 btn bg-outline-color" >Insertar</button>
    </form>
</div>

<button type="button" id="insertado" data-toggle="modal" data-target="#insertarCSV"></button>

<!-- Modal INSERTAR CSVS-->
<div class="modal fade" id="insertarCSV" tabindex="-1" role="dialog" aria-labelledby="insertarCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="mt-3 text-center">¡EMPRESA!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{empresaCorrecto}}/{{empresaCorrecto+empresaFallo}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{empresaFallo}}/{{empresaCorrecto+empresaFallo}}
                <br>

                <h2 class="mt-3 text-center">¡CENTRO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{centrosCorrecto}}/{{centrosCorrecto+centrosFallo}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{centrosFallo}}/{{centrosCorrecto+centrosFallo}}
                <br>

                <h2 class="mt-3 text-center">¡CURSO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{cursosCorrecto}}/{{cursosFallo+cursosCorrecto}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{cursosFallo}}/{{cursosFallo+cursosCorrecto}}
                <br>

                <h2 class="mt-3 text-center">¡TUTOR!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{tutoresCorrecto}}/{{tutoresFallo+tutoresCorrecto}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{tutoresFallo}}/{{tutoresFallo+tutoresCorrecto}}
                <br>

                <h2 class="mt-3 text-center">¡REPONSABLE!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{responsableCorrecto}}/{{responsableFallo+responsableCorrecto}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{responsableFallo}}/{{responsableFallo+responsableCorrecto}}
                <br>

                <h2 class="mt-3 text-center">¡ALUMNO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                Success: {{alumnosCorrecto}}/{{alumnosFallo+alumnosCorrecto}}&nbsp;
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                Error:{{alumnosFallo}}/{{alumnosFallo+alumnosCorrecto}}
                <br>
            </div>
        </div>
    </div>
</div>

<!-- Modal INSERTAR CSV EMPRESA
<div class="modal fade" id="insertarEmpresaCSV" tabindex="-1" role="dialog" aria-labelledby="insertarEmpresaCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡EMPRESA!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{empresaCorrecto}}/{{empresaCorrecto+empresaFallo}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{empresaFallo}}/{{empresaCorrecto+empresaFallo}}
                <br>
            </div>
        </div>
    </div>
</div>-->

<!-- Modal INSERTAR CSV CENTRO
<div class="modal fade" id="insertarCentroCSV" tabindex="-1" role="dialog" aria-labelledby="insertarCentroCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡CENTRO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{centrosCorrecto}}/{{centrosCorrecto+centrosFallo}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{centrosFallo}}/{{centrosCorrecto+centrosFallo}}
                <br>
            </div>
        </div>
    </div>
</div>-->


<!-- Modal INSERTAR CSV CURSO
<div class="modal fade" id="insertarCursoCSV" tabindex="-1" role="dialog" aria-labelledby="insertarCursoCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡CURSO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{cursosCorrecto}}/{{cursosFallo+cursosCorrecto}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{cursosCorrecto}}/{{cursosFallo+cursosCorrecto}}
                <br>
            </div>
        </div>
    </div>
</div>-->

<!-- Modal INSERTAR CSV TUTOR
<div class="modal fade" id="insertarTutorCSV" tabindex="-1" role="dialog" aria-labelledby="insertarTutorCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡TUTOR!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{tutoresCorrecto}}/{{tutoresFallo+tutoresCorrecto}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{tutoresFallo}}/{{tutoresFallo+tutoresCorrecto}}
                <br>
            </div>
        </div>
    </div>
</div>-->

<!-- Modal INSERTAR CSV RESP
<div class="modal fade" id="insertarRespCSV" tabindex="-1" role="dialog" aria-labelledby="insertarRespCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡REPONSABLE!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{responsableCorrecto}}/{{responsableFallo+responsableCorrecto}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{responsableFallo}}/{{responsableFallo+responsableCorrecto}}
                <br>
            </div>
        </div>
    </div>
</div>-->


<!-- Modal INSERTAR CSV ALUMNO
<div class="modal fade" id="insertarAlumnoCSV" tabindex="-1" role="dialog" aria-labelledby="insertarAlumnoCSVLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="text-center">¡ALUMNO!</h2>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Success: {{alumnosCorrecto}}/{{alumnosFallo+alumnosCorrecto}}
                <i class="fa fa-x text-danger" aria-hidden="true"></i>
                    Error:{{alumnosFallo}}/{{alumnosFallo+alumnosCorrecto}}
                <br>
            </div>
        </div>
    </div>
</div> -->