

<div class="row w-100">
    <div class="col-lg-3"></div>

    <form [formGroup]="formRoles" class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Asignar roles</h3>
        </div>
        <!-- Enviar un email con usuario y contraseña al correo del almuno seleccionado  se generara un select con todos los  DNI-->
        <div class="form-group">
            <label for="rol" class="form-label"> Selecciona</label>
            <select class="form-control" (change)="recargarselectuser()" [(ngModel)]="perfil" formControlName="rol">
                <option value="1">Seleciona Tipo de Perfil</option>
                <option value="responsable">Responsable</option>
                <option value="profesor">Tutor</option>
                <option value="alumno">Alumno</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dni" class="form-label"> Selecciona</label>
            <select class="form-control" (change)="guardarEmail($event)" formControlName="dni">
                <option value="1" >Seleciona Usuario</option>
                <option value="{{persona.dni}}" *ngFor="let persona of auxTodosDatos">{{persona.nombre}}</option>
            </select>
        </div>
        
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
              <div class="form-group">
                <label for="pwd" class="form-label">Contraseña</label>
                <input type="text" formControlName="pwd" placeholder="contraseña" class="form-control" id="pwd">
            </div>
            </div>
            <div class="col-lg-6   col-sm-12  col-md-12">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" value="{{email}}" [disabled]="perfil!='admin'" placeholder="correo electrónico" class="form-control" id="pwd">
                </div>
            </div>
          </div>
        <button type="submit" class=" w-100 btn bg-outline-color"  (click)="registerUser()">Asignar</button>

    </form>
</div>