

<div class="row w-100">
    <div class="col-3"></div>

    <form [formGroup]="formRoles" class="w-75  col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Asignar roles</h3>
        </div>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Rol Usuario</mat-label>
            <mat-select (selectionChange)="recargarselectuser()" 
                [(ngModel)]="perfil" 
                formControlName="rol">
              <mat-option value="responsable" >
                  Responsable
              </mat-option>
              <mat-option value="profesor" >
                  Tutor
              </mat-option>
              <mat-option value="alumno" >
                  Alumno
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.formRoles.controls['rol']?.errors?.['required']">
              Campo requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Usuario</mat-label>
            <mat-select (selectionChange)="guardarEmail($event)" 
                formControlName="dni">
              <mat-option value="{{persona.dni}}" 
                *ngFor="let persona of auxTodosDatos" >
                    {{persona.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="this.formRoles.controls['dni']?.errors?.['required']">
              Campo requerido
            </mat-error>
        </mat-form-field>
        
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput 
                      formControlName="pwd" 
                      placeholder="Contraseña" 
                      class="w-100">
                    <mat-error *ngIf="this.formRoles.controls['pwd'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.formRoles.controls['pwd'].hasError('pattern')">
                        Upper/LowerCase, Number and min 8 Chars 
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6   col-sm-12  col-md-12">
                <mat-form-field class="w-100"  appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput  required
                      placeholder="Contraseña" 
                      [value]="email"
                      [disabled]="true"
                      class="w-100">
                    <mat-error *ngIf="email==''">
                        Campo requerido
                    </mat-error>
                </mat-form-field>
            </div>
          </div>
        <button type="submit" class=" w-100 btn bg-outline-color"  (click)="registerUser()">Asignar</button>

    </form>
</div>


<button type="button" id="registrado" data-toggle="modal" data-target="#registaruser"></button>

<!-- Modal REGISTRAR USER-->
<div class="modal fade" id="registaruser" tabindex="-1" role="dialog" aria-labelledby="registaruserLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¡USUARIO REGISTRADO CON ÉXITO!</h2>
                </b>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
            </div>
        </div>
    </div>
</div>