<div class="wrapper">
    <div class="logo"> <img
            src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formResetpassword" (ngSubmit)="recuperarContrasenia()" class="p-3 mt-3">

        <div class="form-field d-flex align-items-center">
            <input type="email" formControlName="email" name="email" id="email" placeholder="Email ">
        </div>
        <small *ngIf="this.formResetpassword.controls['email'].hasError('required')"
            class="form-text alert  pl-3  mb-2 alert-danger ">
            Campo requerido
        </small>
        <div class="form-field d-flex align-items-center">
            <input type="password" class="is_invalid" formControlName="pwd" name="password" id="pwd1" placeholder="Password">
        </div> 
        <small *ngIf="this.formResetpassword.controls['pwd'].hasError('required')"
            class="form-text alert  pl-3  mb-2 alert-danger ">
            Campo requerido
        </small>
        <div class="form-field d-flex align-items-center">
            <input type="password" class="is_invalid" formControlName="pwd1" name="password1" id="pwd2" placeholder="Password Confirmation">
        </div> 
        <small *ngIf="this.formResetpassword.controls['pwd1'].hasError('required')"
            class="form-text alert  pl-3  mb-2 alert-danger ">
            Campo requerido
        </small>
        <small *ngIf="pwdDiferentes"
            class="form-text alert  pl-3  mb-2 alert-danger ">
            Contraseñas no coinciden
        </small>
               <button class="btn bg-color mt-3">Reset Password</button>
    </form>
    
</div>