<div class="wrapper">
    <div class="logo"> <img
            src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formResetpassword" (ngSubmit)="recuperarContrasenia()" class="p-3 mt-3">

        <div class="form-field d-flex align-items-center">
            <input type="email" formControlName="email" name="email" id="email" placeholder="Email ">
        </div>
        <div class="form-field d-flex align-items-center">
            <input type="password" class="is_invalid" formControlName="pwd" name="password" id="pwd1" placeholder="Password">
        </div> 
        <div class="form-field d-flex align-items-center">
            <input type="password" class="is_invalid" formControlName="pwd1" name="password1" id="pwd2" placeholder="Password Confirmation">
        </div> 
        <small *ngIf="formResetpassword.valid" id="incorrecto" class="form-text alert alert-danger text-muted">Inserte todos los campos</small>
        <button class="btn bg-color mt-3">Reset Password</button>
    </form>
    
</div>