<div class="w-100 row">
    <div class="col-3"></div>
    <form [formGroup]="forminsertarEmpresa" (ngSubmit)="insertarEmpresa(forminsertarEmpresa)" class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Insertar Empresa</h3>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Nombre Empresa</mat-label>
            <input matInput 
                formControlName="empresa" 
                placeholder="Nombre Empresa" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarEmpresa.controls['empresa'].hasError('required')">
                Campo <b>requerido</b>
            </mat-error>
          </mat-form-field>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Provincia</mat-label>
            <input matInput 
                formControlName="provincia" 
                placeholder="Provincia" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarEmpresa.controls['provincia'].hasError('required')">
                Campo <b>requerido</b>
            </mat-error>
          </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Localidad</mat-label>
            <input matInput 
                formControlName="localidad" 
                placeholder="Localidad" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarEmpresa.controls['localidad'].hasError('required')">
                Campo <b>requerido</b>
            </mat-error>
          </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input matInput 
                formControlName="calle" 
                placeholder="Calle Nº" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarEmpresa.controls['calle'].hasError('required')">
                Campo <b>requerido</b>
            </mat-error>
          </mat-form-field>

        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Código Postal</mat-label>
                    <input matInput 
                        formControlName="cp" 
                        placeholder="12345" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cp'].hasError('required')">
                        Campo <b>requerido</b>
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cp'].hasError('pattern')">
                        Requiere de <b>5 digitos</b>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput 
                        formControlName="telefono" 
                        placeholder="123456789" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['telefono'].hasError('required')">
                        Campo <b>requerido</b>
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['telefono'].hasError('pattern')">
                       Requiere <b>9 digitos</b>
                    </mat-error>
                  </mat-form-field>
            </div>
        </div>

            <mat-form-field class=" w-100" appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput 
                    formControlName="email" 
                    placeholder="nombre@dominio" 
                    class="w-100">
                <mat-error *ngIf="this.forminsertarEmpresa.controls['email'].hasError('required')">
                    Campo <b>requerido</b>
                </mat-error>
                <mat-error *ngIf="this.forminsertarEmpresa.controls['email'].hasError('pattern')">
                    Email<b> no es válido</b>
                </mat-error>
              </mat-form-field>

            <mat-form-field class=" w-100" appearance="fill">
                <mat-label>Nombre Representante</mat-label>
                <input matInput 
                    formControlName="representante" 
                    placeholder="Nombre Apellido" 
                    class="w-100">
                <mat-error *ngIf="this.forminsertarEmpresa.controls['representante'].hasError('required')">
                    Campo <b>requerido</b>
                </mat-error>
              </mat-form-field>
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                    <mat-form-field class=" w-100" appearance="fill">
                        <mat-label>DNI Representante</mat-label>
                        <input matInput 
                            formControlName="dnirepresentante" 
                            placeholder="12345678C" 
                            class="w-100">
                        <mat-error *ngIf="this.forminsertarEmpresa.controls['dnirepresentante'].hasError('required')">
                            Campo <b>requerido</b>
                        </mat-error>
                        <mat-error *ngIf="this.forminsertarEmpresa.controls['dnirepresentante'].hasError('pattern')">
                            Formato requerido  <b>12345678C</b>
                        </mat-error>
                        <mat-error *ngIf="this.forminsertarEmpresa.controls['dnirepresentante'].hasError('dniempresaValid')">
                            DNI {{forminsertarEmpresa.controls['dnirepresentante'].value}} está en uso
                        </mat-error>
                        <mat-error *ngIf="this.forminsertarEmpresa.controls['dnirepresentante'].hasError('dniletterValid')">
                            La letra del DNI no se corresponde
                        </mat-error>
                        
                    </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>CIF Empresa</mat-label>
                    <input matInput 
                        formControlName="cif" 
                        placeholder="12345678" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cif'].hasError('required')">
                        Campo <b>requerido</b>
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cif'].hasError('cifempresaValid')">
                        CIF {{forminsertarEmpresa.controls['cif'].value}} está en uso
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cif'].hasError('minlength')">
                        Mínimo 9 dígitos
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarEmpresa.controls['cif'].hasError('maxlength')">
                        Máximo 10 dígitos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <button type="submit" class="w-100 mt-2 btn bg-outline-color">Insertar</button>
    </form>

</div>

<button type="button" id="insertado" data-toggle="modal" data-target="#insertarEmpresa"></button>

<!-- Modal insertar EMPRESA-->
<div class="modal fade" id="insertarEmpresa" tabindex="-1" role="dialog" aria-labelledby="insertarEmpresaLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¡EMPRESA INSERTADO CON ÉXITO!</h2>
                </b>
                <i class="fa fa-check text-success" aria-hidden="true"></i>

                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
            </div>
        </div>
    </div>
</div>