<div class="row w-100 mb-5">
    <div class="col-3"></div>

    <form [formGroup]="forminsertarCentro" (ngSubmit)="insertarCentro(forminsertarCentro)"
        class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Insertar Centro</h3>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Nombre Centro</mat-label>
            <input matInput 
                formControlName="nombre" 
                placeholder="Nombre Centro" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarCentro.controls['nombre'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarCentro.controls['nombre'].hasError('pattern')">
                Minimo 3 letras
            </mat-error>
            
        </mat-form-field>
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Provincia</mat-label>
                    <input matInput 
                        formControlName="provincia" 
                        placeholder="Provincia" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['provincia'].hasError('required')">
                        Campo requerido</mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['provincia'].hasError('pattern')">
                        Mínimo 3 letras
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Localidad</mat-label>
                    <input matInput 
                        formControlName="localidad" 
                        placeholder="Localidad" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['localidad'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['localidad'].hasError('pattern')">
                        Minimo 3 letras
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle" placeholder="Calle Nº " class="w-100">
            <mat-error *ngIf="this.forminsertarCentro.controls['calle'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarCentro.controls['calle'].hasError('pattern')">
                Minimo 3 letras
            </mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Código Postal</mat-label>
                    <input matInput 
                        formControlName="cp" 
                        placeholder="12345" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['cp'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['cp'].hasError('pattern')">
                        Mínimo 5 dígitos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput 
                        formControlName="telefono" 
                        placeholder="123456789" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['telefono'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['telefono'].hasError('pattern')">
                        Necesarios 9 dígitos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput 
                formControlName="email" 
                placeholder="nombre@dominio.com" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarCentro.controls['email'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarCentro.controls['email'].hasError('pattern')">
                Email no es válido
            </mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Código Centro</mat-label>
                    <input matInput 
                        formControlName="code" 
                        placeholder="12345678" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['code'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['code'].hasError('pattern')">
                        Mínimo 8 dígitos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>CIF</mat-label>
                    <input matInput 
                        formControlName="cif" 
                        placeholder="12345678C" 
                        class="w-100">
                    <mat-error *ngIf="this.forminsertarCentro.controls['cif'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['cif'].hasError('cifvalid')">
                        CIF {{forminsertarCentro.controls['cif'].value}} está en uso
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['cif'].hasError('minlength')">
                        Minimo 9 dígitos
                    </mat-error>
                    <mat-error *ngIf="this.forminsertarCentro.controls['cif'].hasError('maxlength')">
                        Máximo 10 dígitos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Nombre Director/a</mat-label>
            <input matInput 
                formControlName="director" 
                placeholder="Nombre Apellido" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarCentro.controls['director'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarCentro.controls['director'].hasError('pattern')">
                Minimo 3 letras
            </mat-error>
        </mat-form-field>
        <button type="submit" class="w-100 mt-2 btn bg-outline-color">Insertar</button>
    </form>
</div>

<button type="button" id="insertado" data-toggle="modal" data-target="#insertarCentro"></button>

<!-- Modal INSERTAR CENTRO-->
<div class="modal fade" id="insertarCentro" tabindex="-1" role="dialog" aria-labelledby="insertarCentroLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¡CENTRO INSERTADO CON ÉXITO!</h2>
                </b>
                <i class="fa fa-check text-success" aria-hidden="true"></i>

                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
            </div>
        </div>
    </div>
</div>