
<div class="row w-100">
    <div class="col-3"></div>
    <form [formGroup]="forminsertarProfesor" (ngSubmit)="insertarProfesor(forminsertarProfesor)" class="w-75 col-6">
        
            <h3 class="title bg-color text-light p-2">Insertar Profesor</h3>
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Centro</mat-label>
                <mat-select  formControlName="centro">
                  <mat-option value="{{centro.codigo}}" *ngFor="let centro of centros">
                      {{centro.nombreCentro}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="this.forminsertarProfesor.controls['centro']?.errors?.['required']">
                  Campo requerido
                </mat-error>
                <mat-error *ngIf="this.forminsertarProfesor.controls['centro']?.errors?.['pattern']">
                  Mínimo 3 letras
                </mat-error>
              </mat-form-field>
      
              <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Nombre Tutor</mat-label>
                  <input matInput 
                    formControlName="nombre" 
                    placeholder="Nombre Apellido" 
                    class="w-100">
                  <mat-error *ngIf="this.forminsertarProfesor.controls['nombre'].hasError('required')">
                    Campo requerido
                  </mat-error>
                  <mat-error *ngIf="this.forminsertarProfesor.controls['nombre'].hasError('pattern')">
                    Mínimo 3 letras 
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>DNI Tutor</mat-label>
                <input matInput 
                  formControlName="dni" 
                  placeholder="12345678X" 
                  class="w-100">
                <mat-error *ngIf="this.forminsertarProfesor.controls['dni'].hasError('required')">
                  Campo requerido
                </mat-error>
                <mat-error *ngIf="this.forminsertarProfesor.controls['dni'].hasError('pattern')">
                  Formato requerido  12345678C 
                </mat-error>
                <mat-error *ngIf="this.forminsertarProfesor.controls['dni'].hasError('validDni')">
                  DNI  {{forminsertarProfesor.controls['dni'].value}} está  en uso
                </mat-error>
                <mat-error *ngIf="this.forminsertarProfesor.controls['dni'].hasError('dniletterValid')">
                  La letra del DNI no se corresponde
                </mat-error>
              </mat-form-field>
              <mat-form-field class=" w-100" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput 
                      formControlName="email" 
                      placeholder="nombre@dominio.com" 
                      class="w-100">
                  <mat-error *ngIf="this.forminsertarProfesor.controls['email'].hasError('required')">
                      Campo requerido
                  </mat-error>
                  <mat-error *ngIf="this.forminsertarProfesor.controls['email'].hasError('pattern')">
                      Email no es válido
                  </mat-error>
                  <mat-error *ngIf="this.forminsertarProfesor.controls['email'].hasError('validEmail')">
                      Email  {{forminsertarProfesor.controls['email'].value}} está  en uso
                  </mat-error>

              </mat-form-field>
             
       
        <button type="submit" class="w-100 mt-2 btn bg-outline-color">Insertar</button>
    </form>
    <div class="col-3"></div>
</div>

  
<button type="button" id="insertado" data-toggle="modal"
data-target="#insertarTutor"></button>

<!-- Modal INSERTAR Tutor-->
<div class="modal fade" id="insertarTutor" tabindex="-1" role="dialog" aria-labelledby="insertarTutorLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <div class="modal-body text-center">
            <b>
                <h2 class="text-center">¡TUTOR INSERTADO CON ÉXITO!</h2>
            </b>
            <i class="fa fa-check text-success" aria-hidden="true"></i>
 
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            <br>
        </div>
    </div>
</div>
</div>