
<h3>Listado de Alumnos</h3>
<div class="container-fluid ">
    <div class=" table-responsive">
        <div class="alert alert-warning " *ngIf="alumnos.length==0 && sinAlumnos " >
            <b>
                <h2 class="text-center">¡TUTOR SIN ALUMNOS!</h2>
            </b>
        </div>
        <table *ngIf="!sinAlumnos" class="table text-center table-striped">
            <thead class="thead bg-color text-light">
                <tr>
                    <th>#</th>
                    <th>Nombre Alumno</th>
                    <th>Ciclo Formativo</th>
                    <th>Horas de Práctica</th>
                    <th>Horas Realizadas</th>
                    <th>Nº Tareas</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngIf="alumnos.length==0  " >
                    <td class="justify-content-center float-end" colspan="6">
                        <span class="spinner-border"></span>
                    </td>
                </tr>
                <tr *ngFor="let alumno of alumnos;let index =index">
                    <td>{{index+1}}</td>
                    <td>{{alumno.nombreAlumno}}</td>
                    <td>{{alumno.cicloFormativo}}</td>
                    <td >{{alumno.nHoras }}</td>
                    <td *ngIf="alumno.horasRealizadas==null">00:00:00</td>
                    <td *ngIf="alumno.horasRealizadas!=null">{{alumno.horasRealizadas}}</td>
                    <td>{{alumno.ntareas}}</td>
                </tr>
               
            </tbody>
        </table>
</div>
</div>