
<h3>Listado de Cursos</h3>
        <table class="table text-center table-striped">
            <thead class="table bg-color text-center text-light">
                <tr>
                    <th>#</th>
                    <th>Nombre Alumno</th>
                    <th>Ciclo Formativo</th>
                    <th>Horas de Práctica</th>
                    <th>Horas Realizadas</th>
                    <th>DNI Tutor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Doe</td>
                    <td>DAW</td>
                    <td>400</td>
                    <td>124</td>
                    <td>54623432F</td>
                </tr>
               
            </tbody>
        </table>
