
<h3>Listado de Cursos</h3>
        <table class="table text-center table-striped">
            <thead class="table bg-color text-center text-light">
                <tr>
                    <th>#</th>
                    <th>Nombre Alumno</th>
                    <th>Ciclo Formativo</th>
                    <th>Horas de Práctica</th>
                    <th>Horas Realizadas</th>
                    <th>Nº Tareas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos;let index =index">
                    <td>{{index+1}}</td>
                    <td>{{alumno.nombreAlumno}}</td>
                    <td>{{alumno.cicloFormativo}}</td>
                    <td >{{alumno.nHoras }}</td>
                    <td *ngIf="alumno.horasRealizadas==null">00:00:00</td>
                    <td *ngIf="alumno.horasRealizadas!=null">{{alumno.horasRealizadas}}</td>
                    <td>{{alumno.ntareas}}</td>
                </tr>
               
            </tbody>
        </table>
