<div id="listaalumnosFCT">
    <div class="hide ">
            <img src="../../../../../assets/img/fctnou.png" width="8%" class="d-flex justify-content-end" alt="fctnou.png">
            <strong class="d-flex justify-content-center" >LISTA DE ALUMNOS EN PRACTICA</strong><br>
    </div><br>
    <div class="alert alert-warning " *ngIf="alumnosfct.length==0 && cargaCompleta " >
        <b>
            <h2 class="text-center">¡ASIGNA PRÁCTICA A ALUMNOS!</h2>
        </b>
    </div>
    <table *ngIf="alumnosfct.length>0" class="pdf text-center table table-striped">
        <thead class="table bg-color text-center text-light">
            <tr>
                <th>Alumno</th>
                <th>Tutor Escolar</th>
                <th>Empresa</th>
                <th>Responsable</th>
                <th>Curso</th>
                <th class="quitar">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumnofct of alumnosfct">
                <td>{{alumnofct.nombreAlumno}} </td>
                <td>{{alumnofct.nombreTutor}} </td>
                <td>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label class="quitar">Empresa</mat-label>
                        <mat-select  [value]="alumnofct.nombreEmpresa">
                          <mat-option value="{{empresa.nombreEmpresa}}" 
                            *ngFor="let empresa of empresas">{{empresa.nombreEmpresa}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>{{alumnofct.nombreResponsable}}

                </td>
                <td>{{alumnofct.codigoCiclo}}</td>
                <td class="d-flex justify-content-center quitar">
                    <ul class=" quitar nav nav-item">
                        <li  (click)="guardarid(alumnofct)">
                            <a class="nav-link  btn bg-outline-color" id="modbtn" data-toggle="modal" data-target="#modificar"><i
                                    class="fa fa-pencil"></i></a>
                        </li>
                    </ul>
                    <ul class=" quitar ml-3 nav nav-item">
                        <li  (click)="guardarid(alumnofct)">
                            <a class="nav-link  btn btn-outline-danger" data-toggle="modal"
                                data-target="#confirmarEliminar"><i class="fa fa-trash"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>
    
    <ul *ngIf="alumnosfct.length>0" class="quitar nav nav-item">
        <li class="nav-item">
            <a class=" quitar btn bg-outline-color  " (click)="downloadPDF()"><mat-icon>picture_as_pdf</mat-icon></a>
        </li>
    </ul>
    
</div>
<!-- Modal Eliminar -->
<div class="modal fade" id="confirmarEliminar" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center m-3">
                <h5 class="modal-title " id="confirmarEliminarLabel ">ELIMINANDO ALUMNO </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¿ESTÁS SEGURO DE ANULAR LA PRÁCTICA?</h2>
                </b>
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                <small class=" m-2 text-danger">Acción irreversible</small>
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
            </div>
            <div class="text-center">
                <hr>
                <button type="button" class=" m-3 mr-5 btn bg-outline-color" data-dismiss="modal">Cancelar</button>
                <button type="button" class="m-3 ml-5 btn btn-danger" data-dismiss="modal"
                    (click)="eliminarAlumnoFCT(alumnofct.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modificar -->
<div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="modificarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center m-3">
                <h5 class="modal-title " id="modificarLabel">CAMBIAR DE EMPRESA </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Empresa</mat-label>
                        <mat-select value="{{alumnofct.empresa_id}}" id="empresa" 
                            (selectionChange)="updateSelectResponsable($event)"  >
                          <mat-option value="{{empresa.id}}"
                          *ngFor="let empresa of empresas">
                          {{empresa.nombreEmpresa}}{{alumnofct.empresa_id}}{{empresa.id}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Responsable</mat-label>
                        <mat-select  value="{{alumnofct.responsable_id}}"
                            (selectionChange)="saveidResponsable($event)"
                            [disabled]="respdis" id="responsable"  >
                            <mat-option value="{{responsable.id}}" 
                            *ngFor="let responsable of responsables">{{responsable.nombreResponsable}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="text-center">
                <hr>
                <button type="button" class=" m-3 mr-5 btn bg-outline-color" data-dismiss="modal">Cancelar</button>
                <button type="button" class="m-3 ml-5 btn bg-color" data-dismiss="modal"
                    (click)="changeEmpresa(alumnofct.id)">Modificar</button>
            </div>
        </div>
    </div>
</div>