<h3><strong>Buscar tareas en un periodo </strong></h3>
<div class="row w-100">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput type="date" required name="inicio" [(ngModel)]="inicio" placeholder="Fecha Inicio">
            <mat-error *ngIf="inicio==''">Es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha Fin</mat-label>
            <input matInput type="date" required name="fin" [(ngModel)]="fin" placeholder="Fecha Fin">
            <mat-error *ngIf="fin==''">Es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="col-4 pt-2">
        <button (click)="buscarTareas()" class=" btn text-light bg-color">Buscar</button>
    </div>
</div>
<hr>
<div class="row w-100">
    <div class="col-12  table-responsive" id="pdfdata">
        <div class="hide">
            <div class="text-center"><strong>FORMACIÓN EN CENTROS DE TRABAJO</strong><br>
                <small>“HOJA DEL/DE LA ALUMNO/A”</small>
            </div>
            <br>
            <p>Entre las fechas <b>{{inicio}}</b>/ <b>{{fin}}</b></p>
            <p>CENTRO EDUCATIVO:_________<b>{{datos.nombreCentro}}</b>________ EMPRESA
                COLABORADORA_____<b>{{datos.nombreEmpresa}}</b>_____</p>
            <p>PROFESOR/A-TUTOR/A D/Dña. ________<b>{{datos.nombreTutor}}</b>___ TUTOR/A DE LA EMPRESA
                D/Dña.________<b>{{datos.nombreResponsable}}</b>____________</p>
            <p>ALUMNO/A D/Dña.
                _______________<b>{{datos.nombreAlumno}}</b>________________________________________________________________________
            </p>

        </div><br>
        <table class="table table-striped">

            <thead class="table bg-color text-light">
                <tr>
                   
                    <th>Descipcion de la actividad </th>
                    <th>Orientacion para su desarrollo </th>
                    <th>Tiempo </th>
                    <th>Dificultades en la realización </th>
                    <th>Observaciones </th>
                    <th>V.R </th>
                    <th>V.T</th>
                </tr>
            </thead>
            <tbody id="tbody" >
                <tr *ngIf="tareas.length==0 && buscar" >
                    <td  [colSpan]="7">
                        <span class="spinner-border "></span>
                    </td>
                </tr>
                <tr *ngFor="let tarea of tareas , let id =index">
                    <th>
                        <textarea class="form-control" 
                            name="descripcion0" 
                            id="descripcion0" 
                            cols="20" rows="2"
                            [value]="tarea.descripcion"></textarea>
                    </th>
                    <th>
                        <input type="text" 
                            [value]="tarea.orientacion" 
                            class="form-control" 
                            name="orientacion0"
                            id="orientacion0">
                    </th>
                    <th>
                        <input type="time" 
                            [value]="tarea.tiempo |slice:0:5" 
                            class="form-control" 
                            name="tiempo0"
                            id="tiempo0"> 
                    </th>
                    <th class="text-center">
                        <img src="../../../../../assets/img/easy.png" 
                            *ngIf="tarea.dificultad=='facil'" alt="easy.png">
                        <img src="../../../../../assets/img/medium.png" 
                            *ngIf="tarea.dificultad=='medio'" alt="medium.png">
                        <img src="../../../../../assets/img/hard.png" 
                            *ngIf="tarea.dificultad=='dificil'" alt="hard.png">
                    </th>
                    <th>
                        <input type="text" 
                            class="form-control" 
                            [value]="tarea.dificultad" 
                            name="observaciones0"
                            id="observaciones0"> 
                    </th>
                    <th>
                        <div class="custom-control custom-switch">
                            <input disabled type="checkbox" 
                                class="custom-control-input"
                                [checked]="tarea.validadoTutor==1"
                                name="tutor-ecolar"
                                id="tutor">
                                <label class="custom-control-label" 
                                    for="tutor">
                                </label>
                        </div>
                    </th>
                    <th> 
                        <div class="custom-control custom-switch">
                            <input disabled type="checkbox" 
                                class="custom-control-input"
                                [checked]="tarea.validadoResponsable==1"
                                name="tutor-empresa"
                                id="responsable">
                                <label class="custom-control-label" for="responsable"></label>
                        </div>
                    </th>
                </tr>
            </tbody>


        </table>
    </div>
    <div class="col-12">
        <button class="btn bg-outline-color" (click)="downloadPDF()">Descargar Anexo V <i
                class="fa-solid fa-file-pdf"></i></button>

    </div>
</div>