<h2>Responsables</h2>


<mat-tab-group>

    <mat-tab label="Listado de Responsables">
        <br>
        <div *ngIf="responsables.length>0 else alert">
            <mat-label class="mr-1">Recargar Tabla</mat-label>
            <mat-icon (click)="listarResponsbles()"  >refresh</mat-icon>
        </div>
        <ng-template #alert>
            <div class="alert alert-warning " *ngIf="responsables.length==0 && cargaCompleta" >
                <b>
                    <h2 class="text-center">¡INSERTE RESPONSABLES!</h2>
                </b>
            </div>
        </ng-template>
        <table *ngIf="responsables.length>0" class="table text-center table-striped">
            <thead class="table bg-color text-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Empresa ID</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let responsable of respTmp">
                    <td>{{responsable.id}}</td>
                    <td>{{responsable.nombreResponsable}}</td>
                    <td>{{responsable.dniResponsable}}</td>
                    <td>{{responsable.empresa_id}}</td>
                    <td>{{responsable.email}}</td>
                    <td class="d-flex justify-content-center">
                        <ul class="nav nav-item">
                            <li routerLink="/admin/responsables/modificarResponsable/{{responsable.id}}">
                                <a class="nav-link  btn bg-outline-color  "><i class="fa fa-pencil"></i></a>
                            </li>
                        </ul>

                        <ul class="ml-3 nav nav-item">
                            <li>
                                <a class="nav-link  btn btn-outline-danger  " data-toggle="modal"
                                    data-target="#eliminarEmpresa" (click)="guardarid(responsable.id)">
                                    <i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="responsables.length>0" class="container-fluid table-responsive d-flex justify-content-center">
            <div class="row">
                <div class="col-3 ">
                    <mat-form-field class=" w-100" appearance="fill">
                        <mat-select [(ngModel)]="pageSize" (selectionChange)="changeSize()">
                            <mat-option [value]="sizes" *ngFor="let sizes of sizes">
                                {{sizes}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row mt-3 margin-0-auto">
                    <div class="col-2" disabled (click)="firstPage()" >
                        <i class="fa fa-step-backward"  aria-hidden="true"></i>
                    </div>
                    <div class="col-2" [ngClass]="{ 'bbva-th2-pagination-disabled': (currentPage - 1) <= 0 }"
                        (click)="prevPage()">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                    </div>
                    <div class="col-4">
                        <p>{{ currentPage }} de {{ totalPages }}</p>
                    </div>
                    <div class="col-2" (click)="nextPage()">
                        <i class="fa fa-forward" aria-hidden="true"></i>
                    </div>
                    <div class="col-2" (click)="lastPage()">
                        <i class="fa fa-step-forward " aria-hidden="true"></i>
                    </div>
                </div>
    
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Insertar Responsable">
        <br>
        <app-insertar-responsable></app-insertar-responsable>
        <br>
    </mat-tab>

</mat-tab-group>


<!-- Modal Eliminar -->
<div class="modal fade" id="eliminarEmpresa" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center m-3">
                <h5 class="modal-title " id="confirmarEliminarLabel ">ELIMINANDO EMPRESA </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¿ESTÁS SEGURO DE ELIMINAR LA EMPRESA?</h2>
                </b>
                <i class="fa-solid fa-exclamation-triangle text-warning fa-beat"
                    style="--fa-animation-duration: 0.5s;"></i>
                <small class=" m-2 text-danger">Acción irreversible</small>
                <i class="fa-solid fa-exclamation-triangle text-warning fa-beat"
                    style="--fa-animation-duration: 0.5s;"></i>
            </div>
            <div class="text-center">
                <hr>
                <button type="button" class=" m-3 mr-5 btn bg-outline-color" data-dismiss="modal">Cancelar</button>
                <button type="button" class="m-3 ml-5 btn btn-danger" data-dismiss="modal"
                    (click)="eliminarResponsable()">Aceptar</button>
            </div>
        </div>
    </div>
</div>