<form [formGroup]="formBuscaTarea" (ngSubmit)="mostrarTareasDelAlumno()">
        <div class="row w-100 " >
        <div class="col-4" >
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Alumno</mat-label>
                <mat-select formControlName="alumno"  [(value)]="alumnoAbuscar">
                    <mat-option [value]="alumno.id"   
                    *ngFor="let alumno of alumnos">
                        {{alumno.nombreAlumno}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.formBuscaTarea.controls['alumno'].hasError('required')" >Es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput 
                    type="date" 
                    formControlName="inicio" 
                    name="inicio" 
                    max="{{fechaMaxima | date:'yyyy-MM-dd'}}">
                <mat-error *ngIf="inicio?.errors?.['required']">Es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Fecha Fin</mat-label>
                <input matInput 
                    type="date" 
                    formControlName="fin"
                    name="fin" 
                    max="{{fechaMaxima | date:'yyyy-MM-dd'}}">
                <mat-error *ngIf="fin?.errors?.['required']">Es requerido</mat-error>
                <mat-error *ngIf="fin?.errors?.['Mayor']" >La fecha {{fin.value}} es menor que {{inicio.value}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 mt-2">
            <!-- Mostrará solo los resultados cuyas tareas han sido verificados por el responsable de empresa -->
            <button  type="submit" class="btn-dark  form-control">Mostrar tareas</button>
        </div>
    </div>
</form>
<br>

<div class="row w-100">
    <div *ngIf="tareas.length>0" class="container">
        <b>Habilitar CheckBox Pulsa </b><i (click)="disabled=false" class="fa fa-pencil" aria-hidden="true"></i>
        <table  class="table text-center table-striped">
            <thead class="table bg-color text-light">
                <tr>
                    
                    <th>Descipcion de la actividad </th>
                    <th>Orientacion para su desarrollo </th>
                    <th>Tiempo </th>
                    <th>Dificultades en la realización </th>
                    <th>Observaciones </th>
                    <th> V.R </th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let tarea of tareas, let id=index">
                    <th>
                        <textarea class=" cajas-texto form-control" 
                            name="descripcion{{id}}"
                            [disabled]="true"
                            id="descripcion{{id}}" 
                            [value]="tarea.descripcion"
                            ></textarea>
                    </th>
                
                        <input type="hidden" 
                            class="form-control" 
                            name="tareaCon{{tarea.id}}"
                            [disabled]="true"
                            [value]="tarea.id"
                            id="idTarea{{id}}">
                
                    <th>
                        <input type="text" 
                            class="form-control" 
                            name="orientacion{{id}}"
                            [disabled]="true"
                            [value]="tarea.orientacion"
                            id="orientacion{{id}}">
                    </th>
                    <th>
                        <input type="time" 
                            class="form-control" 
                            name="tiempo{{id}}"
                            [disabled]="true"
                            [value]="tarea.tiempo"
                            id="tiempo{{id}}"> 
                    </th>
                    <th>
                        <img *ngIf="tarea.dificultad=='facil'" src="../../../../../assets/img/easy.png" alt="easy.png">
                        <img *ngIf="tarea.dificultad=='medio'"  src="../../../../../assets/img/medium.png" alt="medium.png">
                        <img *ngIf="tarea.dificultad=='dificil'"  src="../../../../../assets/img/hard.png" alt="hard.png">
                    </th>
                    <th><input type="text" 
                            class="form-control" 
                            name="observaciones{{id}}"
                            [disabled]="true"
                            [value]="tarea.observaciones"
                            id="observaciones{{id}}"> 
                    </th>
                    <th>
                        <mat-checkbox [disabled]="disabled"
                        id="responsable{{id}}"
                        value="{{tarea.id}}"
                        (change)="guardarid($event)">
                        </mat-checkbox>
                    </th>
                </tr> 
            </tbody>

        </table>
        <button (click)="validarTarea()" 
            class="btn btn-outline-dark" >
            <i class="fa fa-save  "></i> 
        </button>
    </div>
</div>



<button type="button" id="validado" data-toggle="modal" data-target="#validarTarea"></button>

<!-- Modal validar TAREA-->
<div class="modal fade" id="validarTarea" tabindex="-1" role="dialog" aria-labelledby="validarTareaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <b>
          <h2 class="text-center">¡TAREA/S VALIDADA/S CON ÉXITO!</h2>
        </b>
        <i class="fa fa-check text-success" aria-hidden="true"></i>

        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <br>
      </div>
    </div>
  </div>
</div>