<div class="wrapper">
    <div class="logo"> <img
            src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formlogin" (ngSubmit)="iniciarSesion(formlogin)" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
          
            <input type="text" formControlName="usuario" name="usuario" id="usuario" placeholder="Usuario">
        </div>
        <div class="form-field d-flex align-items-center">
            <input type="password" class="is_invalid" formControlName="pwd" name="password" id="pwd" placeholder="Password">
        </div> 
        <small *ngIf="!formlogin.valid && mostrarMensaje" id="incorrecto" class="form-text alert alert-danger text-muted">Usuario y contraseña incorrectos</small>
        <button class="btn bg-color mt-3">Login</button>
    </form>
    <div class="text-center fs-6" > <a href="#">Olvidó contraseña?</a> <!--or <a href="#">Sign up</a> --></div>
</div>