img{
    width: 30px;
}
table{
    min-width: 100;
}
.fila:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 1;
}

@media (max-width:900px) {
    img{
        width: 20px;
    }
    input[type=radio]{
        width: 15%;
    }
    table{
        font-size: 0.8rem;
    }
}

