img{
    width: 30px;
}
table{
    min-width: 100;
}

@media (max-width:900px) {
    img{
        width: 20px;
    }
    input[type=radio]{
        width: 15%;
    }
    table{
        font-size: 0.8rem;
    }
}

