<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active " data-toggle="tab" href="#listaAlumos">Listado de Alumno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#buscaAlumno">Busca Alumno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#validaTareas">Valida Tarea</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="listaAlumos" class="container tab-pane active"><br>
        <!-- Listado de alumnos cuyo tutor escolar es el usuario registrado -->
        <app-listar-alumnos-esco></app-listar-alumnos-esco>
    </div>
    <div id="buscaAlumno" class="container tab-pane fade"><br>
        <!-- Buscar alumno cuyo tutor escolar es el usuario registrado -->
        <app-buscar-alumno-eco></app-buscar-alumno-eco>
    </div>
    <div id="validaTareas" class="container tab-pane fade"><br>
        <!-- Valida tarea de alumnos cuyo tutor escolar es el usuario registrado -->
        <app-validar-tarea></app-validar-tarea>
    </div>
</div>
<!-- <p><strong>PARTE INFERIOR  USANDO TABS ANGULAR MATERIAL</strong></p> -->
<!-- Mat tab usando angular material -->
<!-- <mat-tab-group color="text-dark">
    <mat-tab label="Listado de Alumno">
        <app-listar-alumnos-esco></app-listar-alumnos-esco>
    </mat-tab>
    <mat-tab label="Busca Alumno">
        <app-buscar-alumno-eco></app-buscar-alumno-eco>
    </mat-tab>
    <mat-tab  class="container-fluid" label="Valida Tarea">
        <app-validar-tarea></app-validar-tarea>
    </mat-tab>
</mat-tab-group> -->