<div class="row mt-5 w-100">
    <div class="col-3"></div>

    <form [formGroup]="formModificarCurso" (ngSubmit)="modificarCurso(formModificarCurso)" class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-center text-light p-2">Modificar Curso <b>{{curso.codigoCiclo}}</b></h3>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Code Ciclo</mat-label>
            <input matInput formControlName="code" placeholder="DAW" class="w-100">
            <mat-error *ngIf="this.formModificarCurso.controls['code'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['code'].hasError('minlength')">
                Minimo 2 letras
            </mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['code'].hasError('pattern')">
                Máximo 6 letras
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Familia Profesional</mat-label>
            <input matInput formControlName="familia" placeholder="Familia Profesional" class="w-100">
            <mat-error *ngIf="this.formModificarCurso.controls['familia'].hasError('required')">
                Campo requerido</mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['familia'].hasError('pattern')">
                Minimo 3 letras
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Ciclo Formativo</mat-label>
            <input matInput formControlName="ciclo" placeholder="Nombre Completo Ciclo" class="w-100">
            <mat-error *ngIf="this.formModificarCurso.controls['ciclo'].hasError('required')">
                Campo requerido </mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['ciclo'].hasError('pattern')">
                Minimo 3 letras
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Curso Academico</mat-label>
            <input matInput formControlName="curso" placeholder="Familia" class="w-100">
            <mat-error *ngIf="this.formModificarCurso.controls['curso'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['curso'].hasError('pattern')">
                Formato XXXX-XXXX
            </mat-error>
        </mat-form-field>


        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Número Horas</mat-label>
            <input matInput type="number" formControlName="horas" placeholder="Familia" class="w-100">
            <mat-error *ngIf="this.formModificarCurso.controls['horas'].hasError('required')">
                Campo requerido Solo digitos
            </mat-error>
            <mat-error *ngIf="this.formModificarCurso.controls['horas'].hasError('pattern')">
                Solo números y hasta 8 digitos
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Tutor</mat-label>
            <mat-select formControlName="tutor">
                <mat-option [value]="profesor.id" *ngFor="let profesor of profesores">
                    {{profesor.nombreTutor}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="this.formModificarCurso.controls['tutor']?.errors?.['required']">Campo requerido</mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col-lg-8  col-sm-12  col-md-12">
                <button type="submit" class="w-100 btn bg-outline-color">
                    <i class="fa fa-save"></i>
                </button>
            </div>
            <div class="col-lg-3  col-sm-12  col-md-12">
                <button type="submit" class=" w-100 ml-1 btn bg-color text-light" routerLink="/admin/cursos/listar">
                    <i class="fa fa-arrow-circle-left"></i>
                </button>
            </div>

        </div>
    </form>
</div>


<button type="button" id="modificado" data-toggle="modal" data-target="#modificarCurso"></button>

<!-- Modal MODIFICAR EMPRESA-->
<div class="modal fade" id="modificarCurso" tabindex="-1" role="dialog" aria-labelledby="modificarCursoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">

                <h2 class="text-center">¡CURSO MODIFICADO CON ÉXITO!</h2>

                <i class="fa fa-check text-success" aria-hidden="true"></i>

                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
            </div>
        </div>
    </div>
</div>