
<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active " data-toggle="tab" href="#insertaDatos">Insertar Datos CSV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#asignarPractica">Asignar Practicas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#asignaRoles">Asignar Roles</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="insertaDatos" class="container tab-pane active"><br>
        <app-insertar-datos></app-insertar-datos>
    </div>
    <div id="asignarPractica" class="container tab-pane fade"><br>
        <app-asignar></app-asignar>
    </div>
    <div id="asignaRoles" class="container tab-pane fade"><br>
        <app-asignar-roles></app-asignar-roles>
    </div>
</div>
