<div class="wrapper">
    <div class="logo"> <img
            src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form  (ngSubmit)="verificarEmail()" class="p-3 mt-3">

        <div class="form-field d-flex align-items-center">
            <input type="email" name="email" id="email" placeholder="Email ">
        </div>
        <small  id="incorrecto" class="form-text alert alert-danger text-muted">Inserte todos los campos</small>
        <button class="btn bg-color mt-3">Reset Password</button>
    </form>
    
</div>
