<div class="wrapper">
    <div class="logo"> <img src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formVerificacion" (ngSubmit)="verificarEmail()" class="p-3 mt-3">

        <div class="form-field d-flex align-items-center">
            <input type="text" formControlName="usuario" name="usuario" id="usuario" placeholder="Usuario">
        </div>
        <small *ngIf="this.formVerificacion.controls['usuario'].hasError('required')"
            class="form-text alert pl-3  alert-danger ">
            Campo requerido
        </small>
        <div class="form-field d-flex align-items-center">
            <input type="password" formControlName="pwd" name="password" id="password" placeholder="Password ">
        </div>
        <small *ngIf="this.formVerificacion.controls['pwd'].hasError('required')"
            class="form-text alert pl-3  alert-danger ">
            Campo requerido
        </small>
        <div class="form-field d-flex align-items-center">
            <input type="email" formControlName="email" name="email" id="email" placeholder="Email ">
        </div>
        <small *ngIf="this.formVerificacion.controls['email'].hasError('required')"
            class="form-text alert pl-3  alert-danger ">
            Campo requerido
        </small>
        <small *ngIf="verificado" class="form-text alert alert-success ">
            !Email verificado
        </small>
        <small *ngIf="incorrecto" class="form-text alert alert-danger ">
            !Datos incorrectos¡
        </small>
        <button class="btn bg-color mt-3">Verificar</button>
    </form>

</div>