<div class="row w-100">
    <div class="col-4">
        <div class="form-group">
            <label for="nombrealumno" class="form-label">Alumno con</label>
            <input type="text" [(ngModel)]="cadena" placeholder="Buscar por nombre del alumno" class="form-control"
                id="nombrealumno">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="buscar" class="form-label">Buscar alumnos</label>
            <!-- Mostrará solo los resultados cuyas tareas han sido verificados por el responsable de empresa -->
            <button (click)="buscarAlumnos()" class="bg-outline-color form-control">Buscar Alumnos</button>
        </div>
    </div>
<div>