<div class="wrapper">
    <div class="logo"> <img
            src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formForgotPassword" (ngSubmit)="recuperarContrasenia()" class="p-3 mt-3">
      
        <div class="form-field d-flex align-items-center">
            <input type="email" formControlName="email" name="email" id="email" placeholder="Email ">
        </div>
        <small *ngIf="formForgotPassword.valid" id="incorrecto" class="form-text alert alert-danger text-muted">Inserte todos los campos</small>
        <button class="btn bg-color mt-3">Send Email</button>
    </form>
    
</div>
