<div class="wrapper">
    <div class="logo"> <img src="../../../assets/img/icono.ico" alt="">
    </div>
    <div class="text-center mt-4 name"> FCTNOU </div>
    <form [formGroup]="formForgotPassword" (ngSubmit)="recuperarContrasenia()" class="p-3 mt-3">

        <div class="form-field d-flex align-items-center">
            <input type="email" formControlName="email" name="email" id="email" placeholder="Email ">
        </div>
        <small *ngIf="formForgotPassword.invalid && formForgotPassword.touched" id="incorrecto" class="form-text pl-3 alert alert-danger text-muted">Campos requerido</small>
        <small *ngIf="enviado" id="incorrecto" class="form-text   pl-3   alert alert-success text-muted">Correo de recuperación enviado</small>
        <button class="btn bg-color mt-3">Send Email</button>
    </form>

</div>