<div class="row w-100">
  <div class="col-3"></div>
<form [formGroup]="forminsertarCurso" (ngSubmit)="insertarCurso(forminsertarCurso)" class="w-75 col-6">
  <div class="form-group">
    <h3 class="title bg-color text-light p-2">Insertar Curso</h3>
    </div>
    <div class="form-group">
      <label for="code" class="form-label">Code Ciclo</label>
      <input type="text" formControlName="code" class="form-control" id="codeCiclo" aria-describedby="code">
    </div>
    <div class="form-group">
        <label for="familia" class="form-label">Familia Profesional</label>
        <input type="text" formControlName="familia" class="form-control" id="familia" aria-describedby="familia">
      </div>
    <div class="form-group">
        <label for="ciclo" class="form-label">Ciclo Formativo</label>
        <input type="text" formControlName="ciclo" class="form-control" id="ciclo" aria-describedby="ciclo">
      </div>
      <div class="form-group">
        <label for="curso" class="form-label">Curso Académico</label>
        <input type="text" formControlName="curso" class="form-control" id="curso">
      </div>
      <div class="form-group">
        <label for="horas" class="form-label">Nº Horas</label>
        <input type="text" formControlName="horas" class="form-control" id="horas" aria-describedby="horas">
      </div>
      
    <div class="form-group">
      <label for="curso" class="form-label">Tutor</label>
        <select class="form-control"  formControlName="tutor" >
          <option value="0">Seleciona Tutor</option>
            <option value="{{profesor.id}}"*ngFor="let profesor of profesores" >{{profesor.nombreTutor}}</option>
          </select>
    </div>
    <button type="submit" class="btn w-100 bg-color text-light ">Insertar</button>
  </form>
    
</div>