<aside class=" sidebar h-100">
    <div class="user text-dark">

        <img routerLink="/perfil" *ngIf="user.foto ==0" class="rounded-circle" alt="foto_perfil" src="../../../assets/img/general.png" />

        <img routerLink="/perfil" *ngIf="user.foto==1" class="rounded-circle" alt="foto_perfil" src="{{imagen}}{{user.username}}.png" />

        <h4 class="m-0 mt-2" name="nombre">
            {{nombre| slice:0:15}}
        </h4>
        <p name="rol">
            {{user.perfil | uppercase}}
        </p>
    </div>
    <div class="row enlaces">
        <div class="col">
            <!-- Botones si el perfil es de un administrador -->
            <button id="cursos" *ngIf="user.perfil=='admin'" name="cursos" routerLinkActive="bg-color text-activo" routerLink="admin/cursos/listar" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fas fa-book    "></i><span class="ml-3 ">Cursos</span>
      </button>
            <button id="empresa" *ngIf="user.perfil=='admin'" name="empresas" routerLinkActive="bg-color text-activo" routerLink="admin/empresas/listar" class="col-lg-11 col-3 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa-solid fa-briefcase"></i>
        <span class="ml-3 textoEnlace">Empresas</span>
      </button>
            <button id="centro" *ngIf="user.perfil=='admin'" name="centro" routerLinkActive="bg-color text-activo" routerLink="admin/centros/listar" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fas fa-school "></i>
        <span class="ml-3 ">Centros</span>
      </button>

            <button id="tutorEmpresa" *ngIf="user.perfil=='admin'" name="tutorEmpresa" routerLinkActive="bg-color text-activo" routerLink="admin/responsables/listar" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa-solid fa-user-tie"></i>

        <span class="ml-3 textoEnlace">Responsable</span>
      </button>
            <button id="tutorEscolar" *ngIf="user.perfil=='admin'" name="tutorEscolar" routerLinkActive="bg-color text-activo" routerLink="admin/profesores/listar" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fas fa-child    "></i>
        <span class="ml-3">Tutores</span>
      </button>
            <button id="alumno" *ngIf="user.perfil=='admin'" name="alumno" routerLinkActive="bg-color text-activo" routerLink="admin/alumnos/listar" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-users"></i>
        <span class="ml-3">Alumnos</span>
      </button>
            <button id="admin" *ngIf="user.perfil=='admin'" name="admin" routerLinkActive="bg-color text-activo" routerLink="admin/csv" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-user"></i>
        <span class="ml-3">Admin</span>
      </button>

            <!-- Botones si el perfil es de un alumno -->
            <button id="anexoVmes" *ngIf="user.perfil=='alumno'" name="anexoVmes" routerLinkActive="bg-color text-activo" routerLink="alumno/calendario" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <mat-icon >calendar_today</mat-icon>
        <span class="ml-1">Anexo V Mes</span>
      </button>
            <button id="rellenarAnexoV" *ngIf="user.perfil=='alumno'" name="rellenarAnexoV" routerLinkActive="bg-color text-activo" routerLink="alumno/insertar/{{date}}" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-users"></i>
        <span class="ml-3">Rellenar Anexo V</span>
      </button>

            <!-- Botones si el perfil es de un tutor escolar (profesor) -->
            <button id="alumnoEsco" *ngIf="user.perfil=='profesor'" name="alumnoEsco" routerLinkActive="bg-color text-activo" routerLink="tutorescolar/lista" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-users"></i>
        <span class="ml-3">Alumnos</span>
      </button>
            <button id="chatPro" *ngIf="user.perfil=='profesor'" name="chatPro" routerLinkActive="bg-color text-activo" routerLink="tutorescolar/chat" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-comment"></i>
        <span class="ml-3">Chat</span>
      </button>

            <!-- Botones si el perfil es de un tutor empresa (responsable) -->
            <button id="alumnoEmp" *ngIf="user.perfil=='responsable'" name="alumnoEmp" routerLinkActive="bg-color text-activo" routerLink="tutorempresa/lista" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-users"></i>
        <span class="ml-3">Alumnos</span>
      </button>
            <button id="chatResp" *ngIf="user.perfil=='responsable'" name="chatResp" routerLinkActive="bg-color text-activo" routerLink="tutorempresa/chat" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fa fa-comment"></i>
        <span class="ml-3">Chat</span>
      </button>

            <!-- (click)="logOut()" -->
            <button id="log_out" name="log_out " [routerLinkActiveOptions]="{exact:true}" (click)="logout()" routerLinkActive="bg-color text-activo" routerLink="" class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i class="fas fa-sign-out-alt"></i>
        <span class="ml-3 ">Salir</span>
      </button>
      <button id="log_out" name="log_out "(click)="cambiarModo()"class="col-lg-11 col-3 mx-auto btn btn-aside text-dark">
        <i *ngIf="modoOscuro" class="fas fa-moon"></i>
        <i *ngIf="modoClaro" class="fas fa-sun"></i>
        <span class="ml-3 ">Cambiar Modo</span>
      </button>
        </div>
    </div>
</aside>