<h2>Chat con tutor escolar</h2>
<br>
<mat-tab-group>
    <mat-tab label="Chat con Tutor">
        <div class="row mt-4 w-100">
            <div class="offset-3 col-6 w-100" >
                <!-- El select solo contrendrá responsbales sean tutores de los alumnos del profesor registrado -->
                <mat-form-field  class="w-100" appearance="fill">
                    <mat-label>Selecciona tutor</mat-label>
                    <mat-select [(ngModel)]="receptor" (closed)="cargarMensajes()">
                      <mat-option *ngFor="let tutor of tutores,let id = index" [value]="tutor.dniTutor">
                       {{tutor.nombreTutor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 cornerRight mt-8">
                <mat-icon class="m-3" *ngIf="!mostrarChat" (click)="receptor!='' ? mostrarChat=true: mostrarChat=false">chat</mat-icon>
            </div>   
            
            <div class="card  text-center cardContainer" *ngIf="mostrarChat && receptor!=''">
                <div class="card-header " (click)="minimizar()">
                    Chat
                    <div class="closeIcon" (click)="ocultarChat()">X</div>
                </div>
                <div class="card-body">
                    <div id="contenedorDeMensajes" class=" h-100">
                        <input type="hidden" class="msj">
                        <p *ngFor="let mensaje of auxmensajes" 
                            class="msj p-2" 
                            [ngClass]="(receptor==mensaje.receptor) ? 'enviado' :'recibido'">
                            {{mensaje.mensaje}}
                        </p>
                    </div>
                </div>
                <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()" >
                    <mat-form-field  class="chat" appearance="fill">
                        <mat-label>Escribe mensaje...</mat-label>
                        <input matInput  required 
                            [(ngModel)]="nuevoMensaje" 
                            (keyup.enter)="enviarMensaje()"
                            name="men" class="w-100">
                        <mat-error *ngIf="nuevoMensaje==''">Es requerido</mat-error>
                    </mat-form-field>
                        <mat-icon type="submit" class="faEnviar  mt-3" >send</mat-icon>
                </form>
            </div>
        </div>
        
    </mat-tab>
</mat-tab-group>
<div class="tab-content">
    <div id="chat" class="container tab-pane active"><br>
        
    </div>
</div>