<h2>Chat con tutor escolar</h2>
<br>
<mat-tab-group>
    <mat-tab label="Chat con Tutor">
        <div class="row mt-4 w-100">
            <div class="offset-md-3 col-6 w-100" >
                <!-- El select solo contrendrá responsbales sean tutores de los alumnos del profesor registrado -->
                <mat-form-field  class="w-100" appearance="fill">
                    <mat-label>Selecciona tutor</mat-label>
                    <mat-select [(ngModel)]="receptor" (closed)="cargarMensajes()">
                      <mat-option *ngFor="let tutor of tutores,let id = index" [value]="tutor.dniTutor">
                       {{tutor.nombreTutor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="card text-center cardContainer" *ngIf="mostrarChat">
            <div class="card-header">
                Chat
                <div class="closeIcon" (click)="mostrarChat=false">X</div>
            </div>
            <div class="card-body">
                <div class="contenedorDeMensajes h-100">
                    <p *ngFor="let mensaje of auxmensajes" 
                        class=" p-2" 
                        [ngClass]="(receptor==mensaje.receptor) ? 'enviado' :'recibido'">
                        {{mensaje.mensaje}}
                    </p>
                </div>
            </div>
            <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
                <mat-form-field  class="chat" appearance="fill">
                    <mat-label>Escribe mensaje...</mat-label>
                    <input matInput  [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}"  class="w-100">
                    <mat-error >Es requerido</mat-error>
                </mat-form-field>
                
                <div class="input-group-append" (click)="enviarMensaje()">
                    <span class=" faEnviar ">
                        <i class=" fa fa-paper-plane " aria-hidden="true"></i>
                    </span>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="tab-content">
    <div id="chat" class="container tab-pane active"><br>
        
    </div>
</div>