<div class="row mt-5 mb-3">
    <div class="col-3"></div>

    <form [formGroup]="formModificarEmpresa" (ngSubmit)="modificarEmpresa(formModificarEmpresa)" class="w-75  offset-md-3 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-center text-light p-2">Insertar Empresa <b>{{empresa.nombreEmpresa}}</b></h3>
        </div>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Nombre Empresa</mat-label>
            <input matInput 
                formControlName="empresa" 
                placeholder="Nombre Empresa" 
                class="w-100">
            <mat-error *ngIf="this.formModificarEmpresa.controls['empresa'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Provincia</mat-label>
            <input matInput 
                formControlName="provincia" 
                placeholder="Provincia" 
                class="w-100">
            <mat-error *ngIf="this.formModificarEmpresa.controls['provincia'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Localidad</mat-label>
            <input matInput 
                formControlName="localidad" 
                placeholder="Localidad" 
                class="w-100">
            <mat-error *ngIf="this.formModificarEmpresa.controls['localidad'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Calle</mat-label>
            <input matInput 
                formControlName="calle" 
                placeholder="Calle Nº" 
                class="w-100">
            <mat-error *ngIf="this.formModificarEmpresa.controls['calle'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>

        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Código Postal</mat-label>
                    <input matInput 
                        formControlName="cp" 
                        placeholder="12345" 
                        class="w-100">
                    <mat-error *ngIf="this.formModificarEmpresa.controls['cp'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.formModificarEmpresa.controls['cp'].hasError('pattern')">
                        Requiere de 5 digitos
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput 
                        formControlName="telefono" 
                        placeholder="123456789" 
                        class="w-100">
                    <mat-error *ngIf="this.formModificarEmpresa.controls['telefono'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.formModificarEmpresa.controls['telefono'].hasError('pattern')">
                       Requiere 9 digitos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
            <mat-form-field class=" w-100" appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput 
                    formControlName="email" 
                    placeholder="nombre@dominio" 
                    class="w-100">
                <mat-error *ngIf="this.formModificarEmpresa.controls['email'].hasError('required')">
                    Campo requerido
                </mat-error>
                <mat-error *ngIf="this.formModificarEmpresa.controls['email'].hasError('pattern')">
                    Email no es válido
                </mat-error>
            </mat-form-field>
        <div class="row">
            <div class="col-lg-6  col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>Nombre Representante</mat-label>
                    <input matInput 
                        formControlName="representante" 
                        placeholder="Nombre Apellido" 
                        class="w-100">
                    <mat-error *ngIf="this.formModificarEmpresa.controls['representante'].hasError('required')">
                        Campo requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-12  col-md-12">
                <mat-form-field class=" w-100" appearance="fill">
                    <mat-label>DNI Representante</mat-label>
                    <input matInput 
                        formControlName="dnirepresentante" 
                        placeholder="12345678C" 
                        class="w-100">
                    <mat-error *ngIf="this.formModificarEmpresa.controls['dnirepresentante'].hasError('required')">
                        Campo requerido
                    </mat-error>
                    <mat-error *ngIf="this.formModificarEmpresa.controls['dnirepresentante'].hasError('pattern')">
                        Formato requerido  12345678C
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8  col-sm-12  col-md-12">
                <button type="submit" class="w-100 btn bg-outline-color">
                    <i class="fa fa-save"></i>
                </button>
            </div>
            <div class="col-lg-3  col-sm-12  col-md-12">
                <button type="submit" 
                    class=" w-100 ml-1 btn bg-color text-light" 
                    routerLink="/admin/empresas/listar">
                    <i class="fa fa-arrow-circle-left"></i>
                </button>
            </div>
        </div>
    </form>

</div>

<button type="button" id="modificado" data-toggle="modal" data-target="#modificarEmpresa"></button>

<!-- Modal MODIFICAR EMPRESA-->
<div class="modal fade" id="modificarEmpresa" tabindex="-1" role="dialog" aria-labelledby="modificarEmpresaLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                
                    <h2 class="text-center">¡EMPRESA MODIFICADA CON ÉXITO!</h2>
                
                <i class="fa fa-check text-success" aria-hidden="true"></i>

                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
            </div>
        </div>
    </div>
</div>