<h2>Alumnos</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#listaAlumnosfct">Listado de Alumnos en FCT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="listarAlumnos()" data-toggle="tab" href="#listaAlumnos">Listado de Alumnos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#insertaAlumno">Insetar Alumno</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="listaAlumnos" class="container tab-pane fade"><br>
        <h3>Listado de Alumnos</h3>
        <table class="pdf text-center table table-striped">
            <thead class="table bg-color text-center text-light">
                <tr>
                    <th>Alumno</th>
                    <th>DNI</th>
                    <th>Curso ID</th>
                    <th>email</th>
                    <th [colSpan]="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.nombreAlumno}} </td>
                    <td>{{alumno.dniAlumno}} </td>
                    <td>{{alumno.curso_id}}</td>
                    <td>{{alumno.email}}</td>
                    <td>
                        <ul class="nav nav-item">
                            <li routerLink="/admin/alumnos/modificarAlumno/{{alumno.id}}" class="nav-item">
                                <a class="nav-link  btn bg-outline-color  ">Editar</a>
                            </li>
                        </ul>
                    </td>
                    <td class="quitar">
                        <ul class="nav nav-item">
                            <li class="nav-item" (click)="guardarid(alumno.id)">
                                <a class="nav-link  btn btn-outline-danger" data-toggle="modal"
                                    data-target="#confirmarEliminar">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="insertaAlumno" class="container tab-pane fade"><br>
        <app-insertar-alumnos></app-insertar-alumnos>
    </div>
    <div id="listaAlumnosfct" class="container tab-pane active"><br>
        <app-listar-alumnos-practica></app-listar-alumnos-practica>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="confirmarEliminar" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center m-3">
                <h5 class="modal-title " id="confirmarEliminarLabel ">ELIMINANDO ALUMNO </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¿ESTÁS SEGURO DE ELIMINAR EL ALUMNO?</h2>
                </b>
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                <small class=" m-2 text-danger">Acción irreversible</small>
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
            </div>
            <div class="text-center">
                <hr>
                <button type="button" class=" m-3 mr-5 btn bg-outline-color" data-dismiss="modal">Cancelar</button>
                <button type="button" class="m-3 ml-5 btn btn-danger" data-dismiss="modal"
                    (click)="eliminarAlumno(id)">Aceptar</button>
            </div>
        </div>
    </div>
</div>