.izquierda{
    align-items: flex-start;
}
td ul li a {
    border-radius: 50%;
}
mat-icon {
    cursor: pointer;
}

::ng-deep .snack-style{
    background-color:rgb(72, 236, 39);
    color: rgb(82, 82, 82);
}

.lista{
    min-height: 100%;
    height: auto;
}
i{
    cursor: pointer;
}