.izquierda{
    align-items: flex-start;
}
td ul li a {
    border-radius: 50%;
}
p:last-child {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    cursor: pointer;
    size: 25rem;
}