
<div class=" w-100 row">
    <div class="col-3"></div>
    <form [formGroup]="forminsertarResponsable" (ngSubmit)="insertarResponsable(forminsertarResponsable)" class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Insertar Responsable</h3>
        </div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nombre Empresa</mat-label>
          <mat-select  formControlName="empresa">
            <mat-option [value]="empresa.id"  *ngFor="let empresa of empresas">
              {{empresa.nombreEmpresa}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.forminsertarResponsable.controls['empresa']?.errors?.['required']">
            Campo requerido
          </mat-error>
          <mat-error *ngIf="this.forminsertarResponsable.controls['empresa']?.errors?.['pattern']">
            Mínimo 3 letras
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre Responsable</mat-label>
            <input matInput 
              formControlName="nombre" 
              placeholder="Nombre Apellido" 
              class="w-100">
            <mat-error *ngIf="this.forminsertarResponsable.controls['nombre'].hasError('required')">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['nombre'].hasError('pattern')">
              Mínimo 3 letras 
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>DNI Responsable</mat-label>
            <input matInput 
              formControlName="dni" 
              placeholder="12345678X" 
              class="w-100">
            <mat-error *ngIf="this.forminsertarResponsable.controls['dni'].hasError('required')">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['dni'].hasError('pattern')">
              Formato requerido  12345678C 
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['dni'].hasError('validDni')">
              DNI {{forminsertarResponsable.controls['dni'].value}} está en uso 
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['dni'].hasError('dniletterValid')">
              La letra del DNI no se corresponde
            </mat-error>
        </mat-form-field>
        <mat-form-field class=" w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput 
                formControlName="email" 
                placeholder="nombre@dominio.com" 
                class="w-100">
            <mat-error *ngIf="this.forminsertarResponsable.controls['email'].hasError('required')">
                Campo requerido
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['email'].hasError('pattern')">
                Email no es válido
            </mat-error>
            <mat-error *ngIf="this.forminsertarResponsable.controls['email'].hasError('validEmail')">
                Email {{forminsertarResponsable.controls['email'].value}} está en uso
            </mat-error>
        </mat-form-field>
       
        <button type="submit" class="w-100 mt-2 btn bg-outline-color">Insertar</button>
    </form>

</div>

<button type="button" id="insertado" data-toggle="modal"
data-target="#insertarResponsable"></button>

<!-- Modal insertar Responsable-->
<div class="modal fade" id="insertarResponsable" tabindex="-1" role="dialog" aria-labelledby="insertarResponsableLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <div class="modal-body text-center">
            <b>
                <h2 class="text-center">¡RESPONSABLE INSERTADO CON ÉXITO!</h2>
            </b>
            <i class="fa fa-check text-success" aria-hidden="true"></i>
 
            <i class="fa fa-check text-success" aria-hidden="true"></i>
            <br>
        </div>
    </div>
</div>
</div>