<div class="row w-100 ">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Alumno</mat-label>
            <mat-select required  [(ngModel)]="alumnoAbuscar">
                <mat-option [value]="alumno.id"   
                    *ngFor="let alumno of alumnos">
                    {{alumno.nombreAlumno}}
                </mat-option>
            </mat-select>
            <mat-error>Es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput 
                type="date" 
                required 
                name="inicio" 
                [(ngModel)]="fechaDesde">
            <mat-error >Es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Fecha Fin</mat-label>
            <input matInput 
                type="date" 
                required 
                name="fin" 
                [(ngModel)]="fechaHasta">
            <mat-error >Es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="col-12 mt-2">
        <!-- Mostrará solo los resultados cuyas tareas han sido verificados por el responsable de empresa -->
        <button (click)="mostrarTareasDelAlumno()" class="btn-dark  form-control">Mostrar tareas</button>
    </div>
</div>
<br>
<div class="row w-100">
    <table class="table text-center table-striped">
        <thead class="table bg-color text-light">
            <tr>
                
                <th>Descipcion de la actividad </th>
                <th>Orientacion para su desarrollo </th>
                <th>Tiempo </th>
                <th>Dificultades en la realización </th>
                <th>Observaciones </th>
                <!-- <th>tutor empresa </th>-->
                <th>Tutor escolar </th>
            </tr>
        </thead>
        <tbody id="tbody">

            <tr *ngFor="let item of tareas, let id=index">
                <th><textarea disabled [value]="item.descripcion" class="form-control" name="descripcion0"
                        id="descripcion0" cols="20" rows="2"></textarea></th>
                <th><input disabled type="text" [value]="item.orientacion" class="form-control" name="orientacion0"
                        id="orientacion0"></th>
                <th><input disabled type="time" [value]="item.tiempo" class="form-control" name="tiempo0" id="tiempo0">
                </th>
                <th class="text-center">
                    <img src="../../../../../assets/img/easy.png" *ngIf="item.dificultad=='facil'" alt="">
                    <img src="../../../../../assets/img/medium.png" *ngIf="item.dificultad=='medio'" alt="">
                    <img src="../../../../../assets/img/hard.png" *ngIf="item.dificultad=='dificil'" alt="">
                </th>
                <th><input disabled type="text" [value]="item.observaciones" class="form-control" name="observaciones0"
                        id="observaciones0"> </th>
                <th> 
                    <input type="checkbox" name="tutor-escolar" id="">
                </th>
            </tr>
        </tbody>

    </table>
</div>