img{
    width: 15%;
}
i{
    cursor: pointer;
}
::ng-deep .snack-style{
    background-color:rgb(72, 236, 39);
    color: rgb(82, 82, 82);
}
.cajas-texto{
    height: 38px;
    resize: none;
}
mat-icon{
    cursor: pointer;
}