<div class="row  w-100">
    <div class="col-3"></div>

  <form [formGroup]="formAsignar" class="w-75  col-6" (ngSubmit)="asignarPractica()">
    <div class="form-group">
      <h3 class="title bg-color text-center text-light p-2">Asignar alumno práctica</h3>
    </div>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="alumno">
        <mat-option value="{{alumno.id}}" *ngFor="let alumno of alumnos">
          {{alumno.nombreAlumno}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formAsignar.controls['alumno']?.errors?.['required']">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Empresa</mat-label>
      <mat-select (selectionChange)="cargarSelectResponsables($event.source)" formControlName="empresa">
        <mat-option value="{{empresa.id}}" *ngFor="let empresa of empresas">
          {{empresa.nombreEmpresa}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formAsignar.controls['empresa']?.errors?.['required']">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Responsable</mat-label>
      <mat-select formControlName="responsable">
        <mat-option value="{{responsable.id}}" *ngFor="let responsable of responsablesTemp">
          {{responsable.nombreResponsable}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formAsignar.controls['responsable']?.errors?.['required']">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Centro</mat-label>
      <mat-select  (selectionChange)="cargarSelectTutores($event)" formControlName="centro">
        <mat-option value="{{centro.codigo}}" *ngFor="let centro of centros">
          {{centro.nombreCentro}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formAsignar.controls['centro']?.errors?.['required']">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Tutor</mat-label>
      <mat-select  formControlName="tutor">
        <mat-option value="{{tutor.id}}" *ngFor="let tutor of tutoresTmp">
          {{tutor.nombreTutor}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.formAsignar.controls['tutor']?.errors?.['required']">
        Campo requerido
      </mat-error>
    </mat-form-field>

    <button type="submit" class=" w-100 mt-2 btn bg-outline-color">Añadir</button>
  </form>
</div>

<button type="button" id="insertado" data-toggle="modal" data-target="#asignarEmpresa"></button>

<!-- Modal INSERTAR ALUMNOFCT-->
<div class="modal fade" id="asignarEmpresa" tabindex="-1" role="dialog" aria-labelledby="asignarEmpresaLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <b>
          <h2 class="text-center">¡ALUMNO EN PRÁCTICA! ¡¡ÉXITO!!</h2>
        </b>
        <i class="fa fa-check text-success" aria-hidden="true"></i>

        <i class="fa fa-check text-success" aria-hidden="true"></i>
        <br>
      </div>
    </div>
  </div>
</div>