
<div class="row">
    <div class="col-lg-3"></div>
    
    <form [formGroup]="formAsignar" class="w-75 col-6">
        <div class="form-group">
            <h3 class="title bg-color text-light p-2">Asignar alumno práctica</h3>
        </div>
        <div class="form-group">
            <label for="alumno"  class="form-label"> Alumno</label>
            <select class="form-control" formControlName="alumno">
              <option selected>Seleciona Alumno</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="empresa"  class="form-label">Empresa</label>
            <select class="form-control" formControlName="empresa">
              <option selected>Seleciona Empresa</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <!-- Solo mostrará los responsables pertenecientes a la empresa seleccionada -->
          <div class="form-group">
            <label for="responsable"  class="form-label">Responsable</label>
            <select class="form-control" formControlName="responsable">
              <option selected>Seleciona Responsable</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="centro"  class="form-label">Centro </label>
            <select class="form-control" formControlName="centro">
              <option selected>Seleciona Centro</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="curso"  class="form-label">Curso </label>
            <select class="form-control" formControlName="curso">
              <option value="0">Seleciona Curso</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
       
        <button type="submit" class="btn bg-outline-color">Añadir</button>
       
    
    </form>
    </div>