<h2>Profesores</h2>

<mat-tab-group>
    <mat-tab label="Listado de Tutores">
        <br>
        <div>
            <p> <i (click)="listarProfesores()" class="ml-2 fa fa-refresh"> Recargar lista</i></p>
        </div>
        <table class="table text-center table-striped">
            <thead class="thead bg-color text-light">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Código Centro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profesor of profesores">
                    <td>{{profesor.id}}</td>
                    <td>{{profesor.nombreTutor}} Rodriguez</td>
                    <td>{{profesor.dniTutor}}</td>
                    <td>{{profesor.codigoCentro}}</td>
                    <td class="d-flex justify-content-center">
                        <ul class="nav nav-item">
                            <li routerLink="/admin/profesores/modificarProfesor/{{profesor.id}}" class="nav-item">
                                <a class="nav-link  btn bg-outline-color  "><i class="fa fa-pencil"></i></a>
                            </li>
                        </ul>
                        <ul class=" ml-3 nav nav-item">
                            <li class="nav-item">
                                <a class="nav-link  btn btn-outline-danger" data-toggle="modal"
                                    data-target="#eliminarProfesor" (click)="guardarid(profesor.id)">
                                    <i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
    <mat-tab label="Insertar Tutor">
        <br>
        <app-insertar-profesor ></app-insertar-profesor>
        <br>
    </mat-tab>
</mat-tab-group>


<!-- Modal Eliminar -->
<div class="modal fade" id="eliminarProfesor" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center m-3">
                <h5 class="modal-title " id="confirmarEliminarLabel ">ELIMINANDO Profesor </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
            </div>
            <div class="modal-body text-center">
                <b>
                    <h2 class="text-center">¿ESTÁS SEGURO DE ELIMINAR AL PROFESOR?</h2>
                </b>
                <i class="fa-solid fa-exclamation-triangle text-warning fa-beat"
                    style="--fa-animation-duration: 0.5s;"></i>
                <small class=" m-2 text-danger">Acción irreversible</small>
                <i class="fa-solid fa-exclamation-triangle text-warning fa-beat"
                    style="--fa-animation-duration: 0.5s;"></i>
            </div>
            <div class="text-center">
                <hr>
                <button type="button" class=" m-3 mr-5 btn bg-outline-color" data-dismiss="modal">Cancelar</button>
                <button type="button" class="m-3 ml-5 btn btn-danger" data-dismiss="modal"
                    (click)="eliminarProfesor()">Aceptar</button>
            </div>
        </div>
    </div>
</div>